<header class="container">
  <div class="row">
    <div class="col-md-4">
      <a [routerLink]="['/']">
        <img [src]="logoImageUrl" width="100">
      </a>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <ol class="breadcrumb">
          <li>
            <a [routerLink]="['courses']" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">Courses</a>
          </li>
          <li>
            <a [routerLink]="['courses', '2']" routerLinkActive="active">2</a>
          </li>
        </ol>
      </div>
    </div>
    <div class="col-md-4">
      <div class="login text-right">
        <p *ngIf="!authService.isAuthenticated()"><a [routerLink]="['user/login']">Login</a></p>
        <p *ngIf="authService.isAuthenticated()">Welcome <a [routerLink]="['user/profile']">{{authService.currentUser.firstName}}</a></p>
        <p *ngIf="authService.isAuthenticated()">
          <a href="#">Logout</a>
        </p>
      </div>
    </div>
  </div>
</header>
