<form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">
  <div class="form-group">
    <label for="userName">Username:</label>
    <input (ngModel)="userName" name="userName" type="text" class="form-control" id="userName" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="userPassword">Password:</label>
    <input (ngModel)="userPassword" name="userPassword" type="password" class="form-control" id="userPassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-success">Login</button>
  <button type="button" class="btn btn-default">Cancel</button>
</form>
